@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  height: 60px;
  background-color: #fcfcfc;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  width: 100%; }
  header nav {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr auto auto auto auto auto auto;
    padding-right: 20px; }
    header nav a {
      height: 60px;
      font-size: 20px;
      padding: 20px;
      text-decoration: none;
      color: #000000;
      transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      header nav a:not(.logo):hover, header nav a:not(.logo):active {
        background-color: #e2e1e0; }
    header nav .logo {
      justify-self: start;
      padding: 10px 20px; }
      header nav .logo img {
        height: 40px;
        width: 40px; }

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "about contact" "contactform contactform";
  grid-gap: 20px;
  padding: 80px 20px 20px 20px;
  max-width: 1000px;
  margin: 0 auto; }
  .about div {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    padding: 20px; }
  .about .contactform {
    grid-area: contactform; }

.login {
  max-width: 500px;
  padding: 80px 20px 20px 20px;
  margin: 0 auto; }
  .login div {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px; }

.createPost {
  max-width: 1000px;
  padding: 80px 20px 20px 20px;
  margin: 0 auto; }
  .createPost div {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    margin-bottom: 20px; }

.blue-link {
  margin-top: 10px;
  text-decoration: none; }

form label {
  font-size: 20px; }
form input, form textarea {
  width: 100%;
  background-color: #eeeeee;
  border-radius: 2px;
  padding: 10px;
  margin: 10px 0 20px 0; }
form textarea {
  resize: none;
  margin: 10px 0 0 0; }
form #description {
  min-height: 100px; }
form #body {
  min-height: 500px;
  resize: vertical; }
form span {
  width: 100%;
  display: block;
  color: red; }
form .checkbox {
  width: auto; }
form .submit {
  background-color: #aaaacc;
  margin: 0; }

@media only screen and (max-width: 1000px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "about" "contact" "contactform"; } }
body {
  background-color: #e2e1e0;
  font-family: "Roboto", sans-serif; }

article {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  display: inline-block;
  word-wrap: break-word;
  margin: 0 0 20px;
  width: 100%;
  color: black; }
  article a {
    text-decoration: none; }
  article h3 {
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid gray;
    color: black;
    font-weight: 700; }
  article img {
    width: 100%;
    max-height: 500px;
    object-fit: cover; }
  article p {
    padding: 20px; }

.linkArticle {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .linkArticle:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.masonry-home {
  column-count: 4;
  column-gap: 20px;
  width: 100%;
  padding: 80px 20px 20px 20px; }

.profile {
  column-count: 2;
  column-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 20px 20px 20px; }

.showPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "post post" "like share";
  grid-gap: 20px;
  max-width: 1000px;
  padding: 80px 20px 20px 20px;
  margin: 0 auto; }
  .showPost div {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase; }
  .showPost a {
    text-decoration: none; }
  .showPost .liked {
    background-color: #aaaacc; }
  .showPost article {
    grid-area: post;
    margin: 0; }
  .showPost .description {
    font-weight: 700; }

@media only screen and (max-width: 1500px) {
  .masonry-home {
    column-count: 3; } }
@media only screen and (max-width: 1000px) {
  .masonry-home {
    column-count: 2; } }
@media only screen and (max-width: 500px) {
  .masonry-home {
    column-count: 1; } }

/*# sourceMappingURL=app.css.map */
