
// Body
$body-bg: #550000;

//Colors
$article-bg : rgba(255,255,255,0.1);
$header-bg : rgba(255,255,255,0.2);

// Layout
$header-height: 100px;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
