
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "variables";
@import "reset";
@import "header";
@import "forms";


body{
  background-color: $body-bg;
  font-family: $font-stack;
}

article{
  @include blockstyle();
  display: inline-block;
  word-wrap: break-word;

  margin: 0 0 $margin;
  width: 100%;
  color: black;


  a{
    text-decoration: none;
  }
  h3{
    font-size: $h3;
    padding: $margin;
    border-bottom: 1px solid gray;
    color: black;

    font-weight: 700;
  }

  img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
  p{
    padding: $margin;
  }
}
.linkArticle {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: $article-shadow-hover;
  }
}
.masonry-home { //http://w3bits.com/css-masonry/
  column-count: 4;
  column-gap: $margin;
  width: 100%;
  padding: $header-height+$margin $margin $margin $margin;
}
.profile{
  column-count: 2;
  column-gap: $margin;
  max-width: 1000px;
  margin: 0 auto;
  padding: $header-height+$margin $margin $margin $margin;
}

.showPost{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "post post"
  "like share";
  grid-gap: $margin;
  max-width: 1000px;
  padding: $header-height+$margin $margin $margin $margin;
  margin: 0 auto;
  div{
    padding: $margin;
    @include blockstyle();
    text-align: center;
    text-transform: uppercase;

  }
  a{
    text-decoration: none;
  }
  .liked{
    background-color: $accent-color;
  }
  article{
    grid-area: post;
    margin: 0;
  }
  .description{
    font-weight: 700;
  }
}



@media only screen and (max-width: 1500px) {
  .masonry-home{
    column-count: 3;
  }
}
@media only screen and (max-width: 1000px) {
  .masonry-home{
    column-count: 2;
  }
}
@media only screen and (max-width: 500px) {
  .masonry-home{
    column-count: 1;
  }
}

