
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "variables";
@import "reset";



body{
  background-color: $body-bg;
}
header{
  height: $header-height;
  background-color: $header-bg;
}
main{
  margin-top: $header-height;
  padding: 1em;
  overflow: hidden;
  width: 100%;
}
.masonry { //http://w3bits.com/css-masonry/
  column-count: 4;
  column-gap: 1em;
  width: 100%;
  article{
    background-color: $article-bg;
    display: inline-block;
    margin: 0 0 1em;
    padding: 1em;
    width: 100%;
  }
}

